@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

*{
	margin: 0px;
	padding: 0px;
}
/* f0f1f6 */
nav{
  z-index: 4;
	background-color: #343f4c; /* Professional blue, similar to Microsoft/Oracle branding */
	width: 100%;
	border: none;
	color: white;
	position: fixed;
	margin: 0px;
font-family: "Archivo", sans-serif;
	padding-left: 22px;
	height: 40px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;}

nav button{
	background: transparent;
	border: none;
	border-radius: 0;
	bottom: 0;
	font-size: 22px;
	letter-spacing: 1;
	color: rgb(255, 255, 255);
	font-weight: 550;
	padding: 10px;
	
}

nav button a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	padding: 29px;
}

nav button:hover, nav button:active{
	background-color: lightgray;
	border: 1px solid dimgray;
	color: black;
	border: none;
	outline: none;
}

.btnNav {
	background: transparent;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "Archivo", sans-serif;
	letter-spacing: 0.75px;
	font-size: 16px;
	font-weight: normal;
	height: 40px;
	outline: 0;
	overflow: hidden;
	padding: 0px 16px 0px;
	text-align: center;
	text-decoration: none;
	background: transparent;
	touch-action: manipulation;
	white-space: nowrap;

}

.btnNav:hover{
	background: rgb(194, 12, 12);
	color: #fff;
}




#home:hover, #recent:hover{
	color: white
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;


}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  border: 1px solid lightgray;
  position: absolute;
  background-color: whitesmoke;
  min-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  z-index: -1;
  border-radius: 0px;
  padding: 0px;
  text-transform: uppercase;


 }

/* Links inside the dropdown */
.dropdown-content a {
  border-radius: 0px;
   color: rgb(54, 88, 174);
  text-decoration: none;
  display: block;
  font-size: 16.45678px;
  border: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
 

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background: rgb(220, 220, 220) ;	  color: rgb(54, 88, 174);border: none;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;   color: rgb(54, 88, 174);}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {background-color: red;}*/