
/* Rounded fort for title of the page #1B3B7F E7EBEC*/
/*@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');*/
/* Small devices (portrait tablets and large phones, 600px and up) */

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root{
  --navcolor:  rgba(235, 240, 243, 0.6);
  --purple_grad: linear-gradient(180deg, rgba(255,255,255,1) 5rem,  #DCE0E8 100rem);
  --primary_btn:  #1457e7d7;
  --sec_btn: lightgrey;
  --lightblue: #F5F5F5;
  --tableHover: #60AAFF;
  --txtblue:  #3C5898;
  --heading: #ECF3FF  ;
  --headingDark: #DAE1EE;
  --blurbg: rgba(221, 238, 255, 0.4);
  --hoverBtn: #EFEFEF;
  --hoverTxt: #000;
}


body{
   background-color: #F6F7F9;
   color: #333;
   line-height: 1.6;
}

.auto-format-date.date-error {
    border: 1px solid red;
    background-color: #ffecec;
}


a, a:visited{
  color: var(--txtblue);
}

.pageName{
  font-family: "Titillium Web", sans-serif ;
  background-color: #fff;
  padding-left: 30px;
  border: none;
  color: var(--txtblue);
  background-color: transparent;
}

.heading{
  font-family: "Titillium Web", sans-serif ;
  color: var(--txtblue);
  font-size: 22px;
  margin-left: 30px;    
  
}

.search-toolbar{
  background-color: var(--headingDark) ;
  border: 1px solid  #C0C9D9;
  width: 97.6%;
  margin: auto;
  padding: 9px 14px;
}




select, select option{
  background-image: linear-gradient(#fff,#fff);
  border: 2px solid lightgray;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  font-size: 14px;
  font-weight: none;
  height: 35px;
  font-size: 14.6567px;
  outline: 0;
  overflow: hidden;
  padding: 3px 8px;
  width: 319px;
  border-radius: 3px;
}

.form{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border: 1px solid lightgray; 
  background: #fff;  
  margin: auto;
  padding: 10px;
 margin: auto;
 width: 98%;
 
}

 .form_group label{
  margin-bottom: 10px;
}



 .p{
  font-size: 16px;
  text-align: left;
  margin-right: 30px;
  margin-left: 20px;
}


.form h4{
  font-size: 17px;
  background-color: #EDF1F8;
  color: var(--txtblue);
  padding: 8px 19px;
  font-weight: 600;
  letter-spacing: 1px;
 }
*/
input{
  border-color: dimgray;
}

.form input[type="text"], .form input[type="email"]{
   width: 400px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"]{
  padding: 6px 8px;
  border: 2px solid lightgray;
  font-size: 16px;
  width: 300px;
  border-radius: 3px;
}

/* to hide the arrow in number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"]{
  padding: 4px 8px;
  border: 2px solid lightgray;
  width: 300px;
  font-size: 14.6567px;
  font-weight: 500;
  border-radius: 3px;
}

input:focus, 
input:active,
select:focus,
select:active{
  outline:  2.5px solid rgb(128, 176, 238);
 

}

input[type="submit"]{
  min-width: 100px;
  color: white;
  padding: 3px; 
  height: 35px;
  font-size: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background: #0661bd;
  background: linear-gradient(0deg, rgba(6, 97, 189, 1) 0%, rgba(94, 171, 247, 1) 75%);
}
input[type="submit"]:hover{
  outline: 2px solid skyblue;
  cursor: pointer;
}



/************************** SEARCH PAGE  **************************/
.searchContainer{
  background-color: var(--headingDark) ;
  padding: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 0.4%;
  width: 98%;
  margin: auto;
/*  margin-bottom: 4px;*/
  border: 1px solid lightgray;
  border-radius: 0px;
}

.searchContainer i{
  color: var(--txtblue);
}

.searchContainer button{
  border: none;
  padding: 7px 10px;
  border-radius: 3px;
  color: white;
  font-family: "", sans-serif;
  letter-spacing: 1px;
  font-size: 13px;
  background-color: white;
  color: black;
}
.searchContainer button:hover{
  border: none;
}


#searchbox{
  border-radius: 3px;
  padding-left: 40px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-weight: 500;
  border: 1px solid lightgray;
  width: 490px;
  background-image: url('../res/search.png');
  background-position: 7px 6px; 
  background-repeat: no-repeat;  
}

.recordDisplayContainer{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: auto;
  width: 99%;
  background-color: #fff;
  overflow: auto;
/*  border-radius: 5px;*/
  border: 1px solid lightgray;
  position: sticky;
  top: 0;
  max-height: 500px;
}

.recordDisplay{
  color: #202020;
  border-collapse: collapse; 
}


.recordDisplay th{
  font-size: 16px;
  height: 20px;
  background-color: #EBEEF1;
  color: black;
  box-shadow: none;
  text-align: left;
  padding: 5px;
  border-bottom: 1px solid lightgray;
  border-collapse: collapse;
  font-weight: 590;
  letter-spacing: 1px;
  position: sticky;
  top: 0px;
}



.recordDisplay th:nth-child(1), .recordDisplay td:nth-child(1){
  padding-left: 30px;

}
.recordDisplay tr:nth-child(odd){
  background-color: #f2f2f2;
}




.recordDisplay th:hover {
  background-color: transparent;
}


.recordDisplay td{
  font-size: 16px;
  font-style: none;
  text-decoration: none;
  padding: 6px;
  border: none;
  font-weight: 500;
  border-bottom: 1px solid #EAEAEA;
}

.recordDisplay td i{
  font-size: 19px;
}

.recordDisplay a{
  text-decoration: none;
  font-weight: 500;
}

.recordDisplay  tr:hover  { 
  background-color: #FFE6E6;  
  outline: 1px solid #E48DB0;
}
.recordDisplay  tr:nth-child(1):hover  { 
  background-color: transparent;
  color: white;
  outline: 1px solid lightgray;
}




.recordDisplay  tr:hover a { 
  color: var(--txtblue);
  font-weight: 400;
  text-decoration: none;

}



.recordDisplay-Btn{
  width: 100px;  
  background-color: transparent;
  padding: 3px;
}

.recordDisplay-Btn:hover{
  background-color: white;
  color: white;
}



/* RERPORTIng */
.reportContainer{
  width: 50%;
  padding: 40px;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin: auto;
}

.btnPrint{
  background-color: transparent !important;
  width: 50px;
  border: none;
}
.btnPrint:hover{
  background-color: whitesmoke;
}

.btnPrint i{
  font-size: 12px;
}

.excelBtn{ 
  color:black; font-size:13px; 
}

.certificateData tr td:nth-child(1){
  width: 30px;
}
.certificateData tr td:nth-child(2){
  width: 250px;
  font-weight: bold;
}
.certificateData tr td:nth-child(3){
  width: 10px;
  font-weight: bold;
}



/* REPROTING */
.reportTable{
  border: 1px solid grey;
  border-collapse: collapse ;
}

.reportPageContainer{
  border: 1px solid lightgray;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 10px;
}

/* DASHBIR */

.card{
  width: 15%;
  padding: 20px;
  border: 1px solid lightgray;
  display: block;
  float: left;
  margin: 35px;
  background-color: white;
  border-radius: 8px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
.card:hover {
  transform: translateY(-5px);
}

.card p{
  font-weight:500;
  font-size: 27px;
  font-weight: bold;
}

.yellow{
  background-color: greenyellow;
}

